<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <div class="row">
            <div class="col-12">
                <div class="card bookviewoutercard">
                    <div class="row">
                        <div class="col-6">

                            <img src="{{products.image.url}}" class="card-img-top" alt="...">

                        </div>
                        <div style="color:black;" class="col-6 mt-5">

                            <h2 style="color:#2881b5;" class="card-title"><strong>{{products.name}}</strong></h2>

                            <h4 class="bkviewprice"> ₹ {{products.price}}</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>